  <h1>Some about page</h1>
  <p>Welcome to {{title}}, you can edit this <b>page</b> in <i>views/index.hbs</i></p>
  <p>To change the <b>layout</b>, modify <i>views/layout.hbs</i></p>
  <p>Add <b>routes</b> and variables in <i>routes/index.js</i></p>
