<div class="row">
<div class="col-md-4">
<h3>Triton: Deploy webapps</h3>
The new FHICT Cloudhosting Service is online now! And you can be one of its first users. All you have to do is login with your fhict account and upload your webapps and websites on <a target="_blank" href="https://triton.fhict.nl">https://triton.fhict.nl</a>.
</div>

<div class="col-md-4">
<h3>Open Beta until 20 december</h3>
The beta will last for a week. After that period all applications will be removed from the site. At the end of this week there is also a pentest event taking place under the name "hXmass". If you would like to participate in this as well, be sure to join!
</div>

<div class="col-md-4">
<h3>Feedback</h3>
All findings and further feedback can be send to triton@fontys.nl or commented under our post on <a target="_blank" href="https://www.reddit.com/r/FHICT/comments/7jk1o2/deploy_je_eigen_webapplicaties_op_de_nieuwe/">https://www.reddit.com/r/FHICT/comments/7jk1o2/deploy_je_eigen_webapplicaties_op_de_nieuwe/</a>. On most days the development team will also be available in room R1 3.21. Happy testing!
</div>
</div>

